
<div class="container-fluid" style="margin: 0px 10px;">
  <h1 class="text-center" style="font-size: 2em;">B GROUP WOMEN&#39;S DAOSHU</h1>
  <!-- <p class="lead" style="font-size: 2em;"></p> -->

  <table class="table table-responsive" style="">
      <thead>
          <th style="text-align: center;" class="lead" width="10%">Placing</th>
          
          <th style="" class="lead" width="10%">Country</th>
          
          <th class="lead" width="55%">Name</th>
          <th class="lead" width="10%">Score</th>
      </thead>

      
        <tr>
          <td class="lead" style="text-align: center;"><span style="">1</span></td>
          
          <td class="lead clubname">
            <img src="/media/countries/Flag_of_Uzbekistan.svg.png" style="max-width:100%;">
            <!-- <span class="clubname">
              
            </span> -->
          </td>
          
          <td class="lead">
            
              Numanjonova Shahrizodabegim
            
          </td>

          <td class="lead"><span style="color: red;">7.30</span></td>
        </tr>
      
        <tr>
          <td class="lead" style="text-align: center;"><span style="">2</span></td>
          
          <td class="lead clubname">
            <img src="/media/countries/Flag_of_Uzbekistan.svg.png" style="max-width:100%;">
            <!-- <span class="clubname">
              
            </span> -->
          </td>
          
          <td class="lead">
            
              Nuraliyeva Robiya
            
          </td>

          <td class="lead"><span style="color: red;">6.64</span></td>
        </tr>
      
  </table>
</div> <!-- /container -->

<style>
    span.clubname {
      color: orange;
    }

    .circle-item {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
        background: red;
    }
    .black {
        background: black;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }

    td.lead {
      font-size: 4em;
    }

    th.lead {
      font-size: 2em;
    }

</style>
