
<div class="container-fluid">
    <div class="row text-center" style="margin-top: 3%;">
      <p style="font-size: 65px;"> Group Men&#39;s Changquan</p>
    </div>
    <div class="row text-center">
      
      <img src="/media/countries/Flag_of_Uzbekistan.svg.png" alt="UZ" width="300px" height="200px">
      
    </div>
    <div class="row text-center">
      
      <p class="lead" style="font-size: 100px;">Mr Bean</p>
      
    </div>
    <div class="row text-center">
      
      <p class="lead" style="font-size: 100px;">Tashkent
</p>
      
    </div>
</div> <!-- /container -->
