{% extends "tablo/base_tablo_wmenu.html" %}
{% load static i18n query_transform %}


{% block title %}{{ title }}{% endblock %}
{% block nav_title %}{{ title }}{% endblock %}
{% block body_class %}screen-tablo_detail{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row text-top">
        <div class="col-md-2">
        </div>
        <div class="col-md-7">
            <form method="POST" action="{% url "paticipant_jrebi" %}" autocomplete="off">
                {% csrf_token %}
                <input autocomplete="off" type="hidden" name="tablo" value="{{ tablo.pk }}">
                <div class="row td-toolbar">
                    {% if not tablo.started %}
                        <span id="jrebi" class="btn btn-white btn-lg">{% trans "Lot" %}</span>
                        <button style="display: none;" type="submit" name="stop"
                                class="btn btn-white btn-lg">{% trans "Stop" %}</button>
                        <button type="submit" name="save" class="btn btn-primary btn-lg">{% trans "Save + Lot" %}</button>
                    {% endif %}
                    <a href="{% url "tablo_print" pk=tablo.pk %}" class="btn btn-white btn-lg">{% trans "Print" %}</a>
                    <a href="{% url "tablo_monitor" pk=tablo.pk %}"
                       class="btn btn-white btn-lg">{% trans "Monitor" %}</a>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <a href="{% url "lang_en" %}">
                <button class="btn btn-link btn-lg">En</button>
            </a>
            <a href="{% url "lang_ru" %}">
                <button class="btn btn-link btn-lg">Ru</button>
            </a>
            <a href="{% url "logout" %}">
                <button class="btn btn-link btn-lg">{% trans "Log out" %}</button>
            </a>
        </div>
    </div>

    <div id="progress_bar0" class="from-left progress_bar" style="display: none;"></div>
    <div id="progress_bar1" class="from-left progress_bar" style="display: none;"></div>
    <div id="progress_bar2" class="from-left progress_bar" style="display: none;"></div>

    <table class="table from-left container" id="tablo_table">
        <thead>
        <tr>
            <th width="5%" class="col-remove"><span class="sr-only">{% trans "Remove" %}</span></th>
            <th width="5%">{% trans "Place" %}</th>
            <th width="5%">{% trans "Country" %}</th>
            <th width="55%">{% trans "Participant" %}</th>
            <th>{% trans "Action" %}</th>
            <th>{% trans "Score" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for p in participations %}
            <tr>
                <td class="col-remove">
                    <form method="POST" action="{% url "delete_participation" pk=p.pk %}"
                          onsubmit="return confirm('{% trans "Delete this participation?" %}');"
                          style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-red btn-del"
                                aria-label="{% trans "Delete this participation?" %}"
                                title="{% trans "Delete this participation?" %}">&times;</button>
                    </form>
                </td>
                <td>{% if p.rank %}{{ p.rank }}{% else %}-{% endif %}</td>
                <td>{{ p.participant.club.country.name_en }}</td>

                {% if 'group' != tablo.category.name.lower %}
                    <td>{{ p.participant.name_en }}</td>
                {% else %}
                    <td>{{ p.participant.club.name }}</td>
                {% endif %}

                {% if not in_process %}
                    {% if p.pk == active_pk %}
                        <td>
                            <form method="POST" action="{% url "participant_activate" %}"
                                  style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ active_pk }}">
                                <button type="submit" class="btn btn-white">{% trans "Activate" %}</button>
                            </form>
                        </td>
                    {% elif p.state == 0 %}
                        <td></td>
                    {% else %}
                        <td><a class="btn btn-white"
                               href="{% url "participant_score" pk=p.pk %}">{% trans "Score" %}</a></td>
                    {% endif %}
                {% else %}
                {% endif %}
                <td>{{ p.finalscore|stringformat:".2f" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js_assets_add %}
    <script src="{% static "js/spin.min.js" %}"></script>
    <script type="text/javascript">
        function animator(output) {
            let started, duration, desired;

            // Constants
            duration = 5000;
            desired = '50';
            started = new Date().getTime();
            // Animate!
            animationTimer = setInterval(function () {
                // If the value is what we want, stop animating
                // or if the duration has been exceeded, stop animating
                if (output.text().trim() === desired || new Date().getTime() - started > duration) {
                    // Generate a random string to use for the next animation step
                    output.text('' + Math.floor(Math.random() * 9)
                    );
                } else {
                    // Generate a random string to use for the next animation step
                    output.text('' + Math.floor(Math.random() * 9)
                    );
                }
            }, 100);
        }

        $(document).ready(function () {
            $('#jrebi').click(function () {
                // Initial setup
                let output1 = $('#progress_bar0');
                output1.css('display', '');
                let output2 = $('#progress_bar1');
                output2.css('display', '');
                let output3 = $('#progress_bar2');
                output3.css('display', '');

                animator(output1);
                animator(output2);
                animator(output3);

                $('button[name="stop"]').css('display', '');
                $('#tablo_table').css('display', 'none');
                $('button[name="save"]').css('display', 'none');
                $('#jrebi').css('display', 'none');
            });
        });
    </script>
{% endblock %}
